html {
  font-family: "neuzeit-grotesk", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.colour {
  background-color: #F4C649;
  height: 100vh;
  margin: 2em;

  position: relative;
}

.text {
  position: absolute;
  top: .75em;
  left: 1em;
}

.name {
  font-size: 300%;
  line-height: .9;

  border-bottom: #000 solid 7px;
}

.tagline {
  font-size: 100%;
  line-height: 1.2;
}

@media only screen and (min-width: 25em) {


  .colour {
    margin: 2.5em;
  }

  .name {
    font-size: 500%;

    border-bottom: #000 solid 10px;
  }

  .tagline {
    font-size: 140%;
  }

}

@media only screen and (min-width: 38em) {

  .colour {
    margin: 3em;
  }

  .name {
    font-size: 700%;

    border-bottom: #000 solid 12px;
  }

  .tagline {
    font-size: 195%;
  }

}

@media only screen and (min-width: 60em) {

  .colour {
    margin: 3.5em;
  }

  .name {
    font-size: 800%;

    border-bottom: #000 solid 16px;
  }

  .tagline {
    font-size: 220%;
  }

}

@media only screen and (min-width: 90em) {

  .colour {
    margin: 4em;
  }

  .colour:hover {
    background-position: center 65%;
  }

  .name {
    font-size: 900%;

    border-bottom: #000 solid 20px;
  }

  .tagline {
    font-size: 250%;
  }

}
